#FakeSender {
    .addForm {
        input {
            width: 100%;
        }

        td {
            text-align: center;
        }
		
		span {
            height: 26px;
            line-height: 26px;
            padding: 0 10px;
        }

    }	
    .entry-name {
        text-align: left;
        padding: 0 10px;
    }
}
